doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='css/main.css')
		script(src='js/jquery-1.11.0.min.js')
		script(src='/socket.io/socket.io.js')
	body
		// p #{molytvy[0].tekst}
		#molytvy
			if molytvy[0] != undefined
				for molytva in molytvy
					a(href='/molytva/'+molytva._id) #{molytva.namirennya}
					br
		script.
			var io = io.connect();