doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='css/main.css')
		script(src='js/jquery-1.11.0.min.js')
		script(src='/socket.io/socket.io.js')
	body
		// p #{molytvy[0].tekst}
		if molytvy[0] != undefined
			p #{molytvy[0].tekst}
		script.
			var io = io.connect();
			io.emit('ready') 
			io.on('talk', function(data){
				alert(data.message)
			});
